In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1.按照上表创建Series对象（对象名“score”，索引名“class”）
index = np.arange(1,13)
score = [90,95,85,78,np.nan,96,95,np.nan,80,87,86,83]
s = pd.Series(score,index=index,name='score')
s.index.name = 'class'
s

class
1     90.0
2     95.0
3     85.0
4     78.0
5      NaN
6     96.0
7     95.0
8      NaN
9     80.0
10    87.0
11    86.0
12    83.0
Name: score, dtype: float64

In [3]:
# 2.查看1-5班的数据
score_one2five = s[0:5]
score_one2five

class
1    90.0
2    95.0
3    85.0
4    78.0
5     NaN
Name: score, dtype: float64

In [4]:
# 3.查看那个班级的成绩还没有导入
s[s.isnull()]

class
5   NaN
8   NaN
Name: score, dtype: float64

In [5]:
# 4.获取11班的平均成绩
s[11]

86.0

In [10]:
# 5.有一道题目的参考答案是错误的，所以在每位同学现有的成绩上加2分
s = s+2
s

class
1     92.0
2     97.0
3     87.0
4     80.0
5      NaN
6     98.0
7     97.0
8      NaN
9     82.0
10    89.0
11    88.0
12    85.0
Name: score, dtype: float64

In [11]:
# 6.找出平均成绩在90分以上的班级
s[s>90]

class
1    92.0
2    97.0
6    98.0
7    97.0
Name: score, dtype: float64